<img class="img-fluid" src="../../../assets/contact.jpg" style="float:right ; max-width: 600px;" alt="" class="ming3">
<div class="dep2">
<h1 id="head" style="margin-left: 2%;">Write to us</h1>

<div class="dep3" style="margin-left: 2%;">
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" id="text" for="flexRadioDefault1">
    Request for Proposal
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" id="text" for="flexRadioDefault1">
    Media Enquiries
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" id="text" for="flexRadioDefault1">
    Partnership Opportunities
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" id="text" for="flexRadioDefault2">
    Issue Escalation
  </label>
</div>
</div>
</div>

<div class="con" style="margin-left: 2%;">
<div class="row">
<div class="col">
<div class="form-floating">
  <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" >
  <label for="floatingInputGrid">Name</label>
</div>
</div>
<div class="col">
<div class="form-floating">
  <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" >
  <label for="floatingInputGrid">Company Name</label>
</div>
</div>
</div>
<br>

<div class="row">
<div class="col">
<div class="form-floating">
  <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" >
  <label for="floatingInputGrid">Designation</label>
</div>
</div>
<div class="col">
<div class="form-floating">
  <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" >
  <label for="floatingInputGrid">Phone Number</label>
</div>
</div>
</div>
<br>

<div class="row" style>
<div class="col">
<div class="form-floating">
  <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" >
  <label for="floatingInputGrid">Email</label>
</div>
</div>
<div class="col">
<div class="form-floating">
  <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" >
  <label for="floatingInputGrid">Country</label>
</div>
</div>
</div>
<input class="btn btn-primary" style=" margin: 1%; padding-left: 3%; padding-right: 3%; " type="submit" value="Submit">
</div>