<img src="../../../assets/about us.jpg" style=" width: 1440px; height: 900x;" alt="">
<div class="dep2">
  <h1 id="head" style="margin-top: 8%; margin-bottom: 4%; margin-left: 2%;">About Us</h1>
  <br>
  
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="highlight" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Mission
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src="./mission.jpg" alt="" style="float: right;max-width: 320px;align-content: center; justify-content: center;">
         <p style="margin-top: 3%;" id="text">Be the global leader in providing end-to-end solutions in engineering and manufacturing for both hardware and software products in the high value added markets, satisfy our customers with innovative technology and superior quality, value and service.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="highlight" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Vision
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src="./vision.jpg" alt="" style="float: right;max-width: 320px;align-content: center; justify-content: center;">
          <p style="margin-top: 3%;" id="text">Be a global technology driven company contributing to the enhancement of quality of life of the people and provide best value for all stake holders.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="highlight" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Who We Are
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         <img src="./whoweare.jpg" alt="" style="float: right;max-width: 320px;align-content: center; justify-content: center;">
          <p style="margin-top: 3%;" id="text">Be a global technology driven company contributing to the enhancement of quality of life of the people and provide best value for all stake holders.</p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="highlight" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapseTwo">
          What We Believe In
        </button>
      </h2>
      <div id="collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src="./belive.jpg" alt="" style="float: right;max-width: 320px;align-content: center; justify-content: center;">
         <p style="margin-top: 3%;" id="text">Our core values make us who we are today
          Our purpose and principles have shaped us into who we are today and they enable us to strive for greater heights. Every decision we make is closely aligned with our principles. These help us raise our bar, dive deep into challenges to achieve game-changing outcomes.</p>
        </div>
      </div>
    </div>
  </div>
</div>
